rest_command:
  add_transaction:
    url: 'http://localhost:5000/transaction'
    method: POST
    headers:
      Content-Type: application/json
    payload: '{"crypto_name": "{{ crypto_name }}", "quantity": {{ quantity }}, "price_usd": {{ price_usd }}, "transaction_type": "{{ transaction_type }}", "location": "{{ location }}", "date": "{{ date }}"}'
    content_type: 'application/json'

  delete_transaction:
    url: 'http://localhost:5000/transaction/{{ transaction_id }}'
    method: DELETE

  update_transaction:
    url: 'http://localhost:5000/transaction/{{ transaction_id }}'
    method: PUT
    headers:
      Content-Type: application/json
    payload: '{"crypto_name": "{{ crypto_name }}", "quantity": {{ quantity }}, "price_usd": {{ price_usd }}, "transaction_type": "{{ transaction_type }}", "location": "{{ location }}", "date": "{{ date }}"}'
    content_type: 'application/json'
